# quartus backup files
*.bak

# database files for quartus
db/
incremental_db/

# simulation temp files
output_files/
simulation/

# modelsim temp files
work/
*.wlf
wlf*
*.mpf
*.mti

# modelsim history
transcript

# compiled python files
*.pyc